*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecera{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1559076118-d0c8300844d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}   
.cabecera > h1{
    display: inline-block;
    width: 500px;
    padding: 25px 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, .4);
    border: 5px solid #fff;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, .6);
    border-radius: 5px;
}
.cabecera > svg{
    position: absolute;
    bottom: -60px;
}
article{
    margin: 55px 10px 80px 10px;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
article > div{
    width: 45%;
}
article .img img{
    width: 100%;
}

.container {
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(124,225,226,1) 25%, rgba(78,208,249,1) 53%, rgba(78,170,249,1) 100%)
    
}
header{
    background: #fff;
}

.card{
    padding: 25px;
    text-align: left;
    margin: 20px 30px;
    background-color: rgba(0, 255, 170, 0.445);
    border-radius: 3%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    height: 500px;
    overflow-y: scroll;
}

p {
    padding: 10px;
}

li {
border-radius: 55px;
}

footer{
    display: flex;
    background-color: rgba(127, 255, 212, 0.466);
}

